# Data files
data/

# Generated email output
email/output/

# Environment variables
.env

# Mailing list
.mailing_list

# Dependencies
node_modules
.venv


email/__pycache__/

# logs
edition-memory.log
slang-glossary.txt

# OS files
**/.DS_Store
