# CSV and HTML files in Article Composition
article-composition/**/*.csv
article-composition/**/*.html

# Environment variables
.env

# Posts file in Live Scraping
live-scraping/posts.json

# Results file in Web Crawling
web-crawling/crawl-results.json

live-scraping/node_modules/

.mailing_list

node_modules