# CSV and HTML files in Article Composition
Article Composition/**/*.csv
Article Composition/**/*.html

# Environment variables
.env

# Posts file in Live Scraping
Live Scraping/posts.json

# Results file in Web Crawling
Web Crawling/crawl-results.json